<footer>
    <div class="footer-wrapper">
        <div class="footer-faded-text">Siddharth Rai</div>

        <div class="link-wrapper">
            <div id="footerproject">
                <a href="#project">Projects</a>
            </div>
            <div id="footerportfolio">
                <a href="#portfolio">Projects</a>
            </div>
            <div>
                <a href="#skils">Skills</a>
            </div>
            <div>
                <a href="#contact">Contact</a>
            </div>
        </div>

        <div class="icon-wrapper">
            <a href="https://www.linkedin.com/in/siddharth-kumar-rai/"><i class="fa-brands fa-linkedin icon flinkdin fsocial"></i></a>
            <a href="https://twitter.com/siddharthkr777"><i class="fa-brands fa-square-twitter icon ftwitter fsocial"></i></a>
            <a href="https://github.com/siddharthkumarrai"><i class="fa-brands fa-square-github icon fgithub fsocial"></i></a>
            <a href="https://www.instagram.com/siddharthkumarrai777/?next=%2F"><i class="fa-brands fa-square-instagram icon finstagram fsocial"></i></a>
            <a href="mailto:siddharthkumarrairai@gmail.com"><i class="fa-solid fa-envelope icon"></i></a>
        </div>
        <div class="copyright-wrapper">
            &copy; copyright
        </div>
    </div>
</footer>