<% layout("/layouts/boilerplate") %>
<div class="wrapper"> 
  <!-- -------------- PROJECT SECTION 1  (LARGE SCREEN) ---------------- -->
     <section class="project-section" id="project">
        <div class="project-section">
            <h2 class="page-header">Projects</h2>
     
              <div class="project-container">
                    <div class="project-card" id="project1">
                        <div class="project-number project-number-right">01</div>
                        <div class="project-content project-content-left">
                            <div class="project-skills-container">
                                <img  class="project-skills" src="images\html.png" alt="">
                                <img  class="project-skills" src="images\css.png" alt="">
                                <img  class="project-skills" src="images\js.png" alt="">
                                <img  class="project-skills" src="images\icons8-express-js-64.png" alt="">
                                <img  class="project-skills" src="images\icons8-nodejs-48.png" alt="">
                                <img  class="project-skills" src="images\icons8-mongodb-a-cross-platform-document-oriented-database-program-24.png" alt="">
                                <img  class="project-skills" src="images\icons8-nextjs-64.png" alt="">
                                <img  class="project-skills" src="images\icons8-react-js-100.png" alt="">
                                <img  class="project-skills" src="images\redux.png" alt="">
                                <img  class="project-skills" src="images\icons8-tailwind-css-100.png" alt="">
                            </div>
     
                            <h2 class="project-heading">Airbnb</h2>
     
                            <div class="project-subheading">
                              Its is a community-based online platform for listing and renting local homes. 
                                It connects hosts and travelers and facilitates the process of renting without owning any rooms itself.
                            </div>
     
                            <div class="btn-group">
                                <a href="https://siddharthkumarrai-project.onrender.com/listings">
                                    <button style="width: 12rem;" class="glow-on-hover project-btn" type="button">Click Here</button>
                                </a>
                                <a href="https://github.com/siddharthkumarrai/siddharth_Airbnb_Clone">
                                    <i class="fa-brands fa-github icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="project-card" id="project2">
                        <div class="project-number project-number-left">02</div>
                        <div class="project-content project-content-right">
                            <div class="project-skills-container">
                                <img  class="project-skills" src="images\html.png" alt="">
                                <img  class="project-skills" src="images\css.png" alt="">
                                <img  class="project-skills" src="images\js.png" alt="">
                                <img  class="project-skills" src="images\icons8-express-js-64.png" alt="">
                                <img  class="project-skills" src="images\icons8-nodejs-48.png" alt="">
                                <img  class="project-skills" src="images\icons8-mongodb-a-cross-platform-document-oriented-database-program-24.png" alt="">
                                <img  class="project-skills" src="images\icons8-nextjs-64.png" alt="">
                                <img  class="project-skills" src="images\icons8-react-js-100.png" alt="">
                                <img  class="project-skills" src="images\redux.png" alt="">
                                <img  class="project-skills" src="images\icons8-tailwind-css-100.png" alt="">
                            </div>
     
                            <h2 class="project-heading">Parallax Effect</h2>
     
                            <div class="project-subheading">
                              A parallax website is a type of website design where background elements move at different speeds 
                              than foreground elements, creating a sense of depth and immersion as users scroll down the page.
                            </div>
     
                            <div class="btn-group">
                                <a href="https://siddharth-parallex-effect.netlify.app">
                                    <button style="width: 12rem;" class="glow-on-hover project-btn" type="button">Click Here</button>
                                </a>
                                <a href="https://github.com/siddharthkumarrai/parallex_effect-_websites">
                                    <i class="fa-brands fa-github icon"></i>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="project-card" id="project3">
                        <div class="project-number project-number-right">03</div>
                        <div class="project-content project-content-left">
                            <div class="project-skills-container">
                                <img height="64px" width="64px" class="project-skills" src="images\html.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\css.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\js.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\icons8-express-js-64.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\icons8-nodejs-48.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\icons8-mongodb-a-cross-platform-document-oriented-database-program-24.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\icons8-nextjs-64.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\icons8-react-js-100.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\redux.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\icons8-tailwind-css-100.png" alt="">
                            </div>
     
                            <h2 class="project-heading">Weather Website</h2>
     
                            <div class="project-subheading">
                                A weather website that provides users with up-to-date weather information, forecasts, and related weather services. 
                                Weather websites typically offer a range of features and tools to help users plan their activities and stay informed about current and future weather conditions.
                            </div>
     
                            <div class="btn-group">
                                <a href="https://siddharth-weather-app.netlify.app">
                                    <button style="width: 12rem;" class="glow-on-hover project-btn" type="button">Click Here</button>
                                </a>
                                <a href="https://github.com/siddharthkumarrai/weather_web_application">
                                    <i class="fa-brands fa-github icon"></i>
                                </a> 
                                
                            </div>
                        </div>
                    </div>
                    <div class="project-card" id="project4">
                        <div class="project-number project-number-left">04</div>
                        <div class="project-content project-content-right">
                            <div class="project-skills-container">
                                <img height="64px" width="64px" class="project-skills" src="images\html.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\css.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\js.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\icons8-express-js-64.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\icons8-nodejs-48.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\icons8-mongodb-a-cross-platform-document-oriented-database-program-24.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\icons8-nextjs-64.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\icons8-react-js-100.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\redux.png" alt="">
                                <img height="64px" width="64px" class="project-skills" src="images\icons8-tailwind-css-100.png" alt="">
                            </div>
     
                            <h2 class="project-heading">chats APP</h2>
     
                            <div class="project-subheading">
                              A chat app is a simple website that allows users to communicate with each other in real-time over the internet. 
                              These apps can be used for one-on-one conversations, group chats, to send messages to entire communities. 
                            </div>
     
                            <div class="btn-group">
                                <a href="https://github.com/siddharthkumarrai">
                                    <button style="width: 12rem;" class="glow-on-hover project-btn" type="button">Click Here</button>
                                </a>
                                <a href="https://github.com/siddharthkumarrai">
                                    <i class="fa-brands fa-github icon"></i>
                                </a>
                                
                            </div>
                        </div>
                    </div>
     
                  </div>
              </div>
        </section>
     
     
        <!-- PROJECT SCTION 2 (SMALL SCREEN) -->
        <section class="portfolio" id="portfolio">
        <h2 class="heading">Latest <span>Project</span></h2>
     
        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="./images/projects/project1.png" alt="">
     
                <div class="portfolio-layer">
                    <h4>Airbnb Clone</h4>
                    <p>Its is a community-based online platform for listing and renting local homes. 
                       It connects hosts and travelers and facilitates the process of renting without owning any rooms itself.
                    </p>
                    <a href="https://siddharthkumarrai-project.onrender.com/listings">
                        <i class="fa-solid fa-link "></i>
                    </a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="./images/projects/project2.png" alt="">
     
                <div class="portfolio-layer">
                    <h4>Parallax Website</h4>
                    <p>A parallax website is a type of website design where background elements move at different speeds 
                        than foreground elements, creating a sense of depth and immersion as users scroll down the page.
                    </p>
                    <a href="https://siddharth-parallex-effect.netlify.app">
                        <i class="fa-solid fa-link icon"></i>
                    </a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="./images/projects/project3.png" alt="">
     
                <div class="portfolio-layer">
                    <h4>Weather App</h4>
                    <p>A weather website that provides users with up-to-date weather information, forecasts, and related weather services.
     
                    </p>
                    <a href="https://siddharth-weather-app.netlify.app">
                        <i class="fa-solid fa-link icon"></i>
                    </a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="./images/projects/project4.png" alt="">
     
                <div class="portfolio-layer">
                    <h4>chats app</h4>
                    <p> A chat app is a simple website that allows users to communicate with each other in real-time over the internet. 
                        These apps can be used for one-on-one conversations, group chats, or  communities.
                    </p>
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                </div>
            </div>
           
        </div>
        </section>
</div>
     
