<% layout("/layouts/boilerplate") %>
<div class="wrapper">
 <!-- ABOUT TECH SECTION -->
 <section class="about" id="about">
    <div class="skills-container-section" id="skils">
        <div class="skill-faded-text">Skills</div>
 
        <div class="skill-container-left">
            <h2 class="skill-heading">
                <span class="caps">M</span>e and <br>
                My Tech Stack
            </h2>
 
            <div class="skill-subheading">
                <p>
                    Hi Everyone My name is Siddharth Kumar Rai I am a Full Stack Web Developer 
                    I have been working for last 1 Years and Currently I am working 
                    with a Budding Startup in INDIA and a full Time Freelancer. 
                    Currently I am working on NextJs and Making Beautiful UI-UX are my fey features
                </p>
                <p>
                    In my career, I have worked with a variety of technologies, including HTML, CSS, JavaScript, 
                    and popular frameworks like React, Angular, or Vue.js. I have experience in building responsive 
                    and interactive websites that provide a seamless user experience across different devices.
                </p>
                <p>
                    I enjoy staying updated with the latest trends and technologies in web development and love exploring 
                    new tools and techniques to enhance my skills. I am a strong believer in clean, maintainable code and 
                    always strive to write code that is not only functional but also easy to understand and maintain.
                </p>
            </div>
        </div>
 
    
        <div class="skill-container-right">
            <img src="images\blob.png" class="blob-style" alt="">
 
            <img  class="project-skills-logo" src="images\html.png" alt="">
            <img  class="project-skills-logo" src="images\css.png" alt="">
            <img  class="project-skills-logo" src="images\js.png" alt="">
            <img  class="project-skills-logo" src="images\icons8-express-js-64.png" alt="">
            <img  class="project-skills-logo" src="images\icons8-nodejs-48.png" alt="">
            <img  class="project-skills-logo" src="images\icons8-mongodb-a-cross-platform-document-oriented-database-program-24.png" alt="">
            <img  class="project-skills-logo" src="images\icons8-nextjs-64.png" alt="">
            <img  class="project-skills-logo" src="images\icons8-react-js-100.png" alt="">
            <img  class="project-skills-logo" src="images\redux.png" alt="">
            <img  class="project-skills-logo" src="images\icons8-tailwind-css-100.png" alt="">
            <img  class="project-skills-logo" src="images\icons8-docker-a-set-of-coupled-software-as-a-service-24.png" alt="">
            <img  class="project-skills-logo" src="images\icons8-bash-100.png" alt="">
            <img  class="project-skills-logo" src="images\icons8-material-ui-48.png" alt="">
 
        </div>
    </div>
    </section>
</div>