<% layout("/layouts/boilerplate") %>
<div class="wrapper">
 <!-- TESTIMONIAL -->
      <div class="testimonial-container">
        <h2 class="heading">Valuable <span id="testimonial">Testimonial</span></h2>
     
        <div class="testimonial-wrapper">
            <div class="testimonial-box mySwiper">
                <div class="testimonial-content swiper-wrapper">
                    <div class="testimonial-slide swiper-slide">
                        <img src="images/testimonial1.jpg" alt="">
                        <h3>Jackson Levi</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem dignissimos aliquid
                            iure delectus corrupti impedit, beatae aperiam ad iusto nostrum possimus cum pariatur harum
                            assumenda suscipit a, qui, tempora maxime nulla facere quo ipsum tempore. Atque libero
                            provident ad aut officia pariatur voluptate quaerat delectus nesciunt, sequi eligendi
                            aperiam fugit unde nihil, iste similique illum. Dignissimos enim officia consequuntur
                            dolores.</p>
                    </div>
                    <div class="testimonial-slide swiper-slide">
                        <img src="images/testimonial2.jpg" alt="">
                        <h3>Flora Ocean</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem dignissimos aliquid
                            iure delectus corrupti impedit, beatae aperiam ad iusto nostrum possimus cum pariatur harum
                            assumenda suscipit a, qui, tempora maxime nulla facere quo ipsum tempore. Atque libero
                            provident ad aut officia pariatur voluptate quaerat delectus nesciunt, sequi eligendi
                            aperiam fugit unde nihil, iste similique illum. Dignissimos enim officia consequuntur
                            dolores.</p>
                    </div>
                    <div class="testimonial-slide swiper-slide">
                        <img src="images/testimonial3.jpg" alt="">
                        <h3>Julian Grayson</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem dignissimos aliquid
                            iure delectus corrupti impedit, beatae aperiam ad iusto nostrum possimus cum pariatur harum
                            assumenda suscipit a, qui, tempora maxime nulla facere quo ipsum tempore. Atque libero
                            provident ad aut officia pariatur voluptate quaerat delectus nesciunt, sequi eligendi
                            aperiam fugit unde nihil, iste similique illum. Dignissimos enim officia consequuntur
                            dolores.</p>
                    </div>
                </div>
     
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
     </div>
</div>